<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91278970686-cdmbc8sbq1ufu77d1a7k5tq64bear1lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91278970686-cdmbc8sbq1ufu77d1a7k5tq64bear1lj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQkLquTdC_KnKdNKDPfYIKLrzcubGkO4U</string>
	<key>GCM_SENDER_ID</key>
	<string>91278970686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f.iori1002.CalendarApp</string>
	<key>PROJECT_ID</key>
	<string>calendarapp-b6185</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarapp-b6185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91278970686:ios:7672c07aa02944036de66f</string>
</dict>
</plist>